<h1>{{title}}</h1>
<p>Welcome to Sarah's tech test attempt. Insert the inputs below</p>
<p>Please put in whole percentages. I.e if you want to put in 2.5%, input 2.5 (not 0.025)

<div>
  <div>
    <label>Year One Sales ($) : </label>
    <input type="number" name="yearOneSales" value="0" [(ngModel)]="yearOneSales">
  </div>
  <div>
    <label>Base Rent (Year 1-5) ($) : </label>
    <input type="number" name="baseRentYearOneToFive" value="0" [(ngModel)]="baseRentYearOneToFive">
  </div>
  <div>
    <label>Base Rent (Year 6-10) ($) :</label>
    <input type="number" name="baseRentYearSixToTen" value="0" [(ngModel)]="baseRentYearSixToTen">
  </div>
  <div>
    <label>Percentage Rent Tier 1 (%) : </label>
    <input type="number" name="percentageRentTierOne" value="0" [(ngModel)]="percentageRentTierOne">
  </div>
  <div>
    <label>Percentage Rent Tier 2 (%) : </label>
    <input type="number" name="percentageRentTierTwo" value="0" [(ngModel)]="percentageRentTierTwo">
  </div>
  <div>
    <label>Percentage Rent Tier 3 (%) : </label>
    <input type="number" name="percentageRentTierThree" value="0" [(ngModel)]="percentageRentTierThree">
  </div>
  <div>
    <label>Compounding annual sales growth (from year 2) (%) : </label>
    <input type="number" name="compoundingAnnualSalesGrowth" value="0" [(ngModel)]="compoundingAnnualSalesGrowth">
  </div>
</div>

<br>
<button (click)="calculateRentProfile()">Calculate</button>
<br>
<br>
<h2>Results Table</h2>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Year</th>
      <th>Year Sales</th>
      <th>Base Rent</th>
      <th>Tier 1 (low end bracket)</th>
      <th>Tier 2 (low end bracket)</th>
      <th>Tier 3 (low end bracket)</th>
      <th>Tier 1 rent</th>
      <th>Tier 2 rent</th>
      <th>Tier 3 rent</th>
      <th>Total Percentage rent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let yearProfile of yearProfiles">
      <td>{{ yearProfile.year }}</td>
      <td>{{ yearProfile.yearSales }}</td>
      <td>{{ yearProfile.baseRent}}</td>
      <td>{{ yearProfile.tierOneLowerBracket}}</td>
      <td>{{ yearProfile.tierTwoLowerBracket }}</td>
      <td>{{ yearProfile.tierThreeLowerBracket }}</td>

      <td>{{ yearProfile.tierOneRent}}</td>
      <td>{{ yearProfile.tierTwoRent }}</td>
      <td>{{ yearProfile.tierThreeRent }}</td>

      <td>{{yearProfile.totalPercentageRent}}</td>
    </tr>
  </tbody>
</table>


